<%= image_tag("starry_night.png") %>

<h1><%= @artwork.name%></h1>
<h3><%= @artwork.description %></h3>
<h3>$<%= @artwork.price %></h3>
<h3><%= @artwork.category %></h3>
<br>

<%= link_to 'edit artwork', edit_artwork_path(@artwork) %>
<%= link_to 'delete artwork', artwork_path(@artwork), method: :delete%>

<h1>current bids</h1>
  <%= link_to 'create new bid', new_bid_path(@bid) %>
<br>

<% @artwork.bids.each do |bid| %>
  <h2>customer: <%= bid.user.name%></h2>
  <h2>amount: $<%= bid.price %></h2>
  <br>
<% end %>

